ManageCenter/Connected Services/SvcManageRef/ScadaWcfLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ScadaWcfLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScadaWcfLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDevInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DevInfo" nillable="true" type="tns:DevInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDevInfo" nillable="true" type="tns:ArrayOfDevInfo" />
  <xs:complexType name="DevInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConnId" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="ConnTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DevId" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="IsOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastActiveTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProdName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DevInfo" nillable="true" type="tns:DevInfo" />
</xs:schema>